{% extends 'base.html' %}

{% block content %}
<h1>{{ poll.subject}}</h1>
<div>{{poll.created}}</div>
<a href='/poll/{{ poll.id}}create/'>新增選項</a>
<a href="{% url'option_create'poll.id %"}>新增選項</a>
<ul>
     {% for opt in options %}
     <li>
       <a href="/option/{{ opt.id }}/"> {{opt.title}}</a>
       - {{ opt.count }}票
         <a href ="{% url 'option_edit' opt.id %}">編輯</a>         
         <a href ="{% url 'option_delete' opt.id %}">刪除</a>   
      </li>
     {% endfor %}
  </ul>
{% endblock %}

{% block page_title %}
檢視投票主題
{% endblock %}
